[Unit]
Description=NXDNGateway Service
After=network-online.target syslog.target netcheck.service
Wants=network-online.target

[Service]
Type=simple
StandardOutput=null
WorkingDirectory=/opt/NXDNGateway
Restart=always
RestartSec=3
ExecStart=/opt/NXDNGateway/NXDNGateway /opt/NXDNGateway.ini
ExecReload=/bin/kill -2 $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

