[Unit]
Description=P25Gateway Service
After=network-online.target syslog.target netcheck.service
Wants=network-online.target

[Service]
Type=simple
StandardOutput=null
WorkingDirectory=/opt/P25Gateway
Restart=always
RestartSec=3
ExecStart=/opt/P25Gateway/P25Gateway /opt/P25Gateway.ini
ExecReload=/bin/kill -2 $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

